body {
  background-color: rgb(250, 250, 250);
  margin-left: 40px;
  margin-right: 40px;
}
.header_div {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
  background-color: rgb(250, 250, 255);
  text-align: center;
  padding: 15px;
}
.main_div {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 98%;
  background-color: rgb(252, 252, 255);
  text-align: left;
  padding: 10px;
}
.footer_div {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 5px;
  width: 98%;
  background-color: rgb(250, 250, 255);
  text-align: right;
  padding: 10px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
}
h1 {
  color: rgb(60, 110, 200);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h2 {
  color: rgb(60, 120, 200);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size:15px;
}